@charset "UTF-8";
:root,
:host {
    --pico-primary: #00b478;
}

/* Base styles */
@media (prefers-color-scheme: dark) {
    :root,
    :host {
        --pico-primary: #00b478;
    }
}

.line-length {
    width: 100%;
    padding-left: 16%;
    padding-right: 16%
}
/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .line-length {
        width: 100%;
        padding-left: 0%;
        padding-right: 0%
    }
}

.card {
    color: white;
    transition: background-color 0.3s ease;
}

.card:hover {
    background-color: rgba(0, 0, 0, 0.5);
}