@charset "UTF-8";
.line-length {
    width: 100%;
    padding-left: 16%;
    padding-right: 16%
}
/* Responsive design for smaller screens */
@media (max-width: 1020px) {
    .line-length {
        width: 100%;
        padding-left: 0%;
        padding-right: 0%
    }
    .smHide {
        display: none;
    }
}
@media (min-width: 1021px) {
    .lgHide {
        display: none;
    }
}

figure .theme-image {
    align-content: end;
}
section.grid {
    border-bottom: 1px solid black;}